In [1]:
import csv
import numpy as np
fifa_file = open('Fifa18.csv', encoding='utf-8')
file_reader = csv.reader(fifa_file)
player_data = list(file_reader)
header = player_data[0]
player_data = player_data[1:]
for row in player_data:
    for idx in [2,6,7,8]:
        row[idx] = float(row[idx])

In [4]:
print(header)
for row in player_data[:5]:
    print(row)

['Id', 'name', 'Age', 'nationality', 'club', 'league', 'euro_wage', 'networth', 'score_of_100']
['20801', 'Cristiano Ronaldo', 32.0, 'Portugal', 'Real Madrid CF', 'Spanish Primera División', 565000.0, 95500000.0, 94.0]
['158023', 'L. Messi', 30.0, 'Argentina', 'FC Barcelona', 'Spanish Primera División', 565000.0, 105000000.0, 93.0]
['190871', 'Neymar', 25.0, 'Brazil', 'Paris Saint-Germain', 'French Ligue 1', 280000.0, 123000000.0, 92.0]
['176580', 'L. Suárez', 30.0, 'Uruguay', 'FC Barcelona', 'Spanish Primera División', 510000.0, 97000000.0, 92.0]
['167495', 'M. Neuer', 31.0, 'Germany', 'FC Bayern Munich', 'German Bundesliga', 230000.0, 61000000.0, 92.0]

In [5]:
len(player_data)

17469

In [6]:
#Question 1: what is the name of the oldest player?
max_age = 0
idx = 0
for i in range(len(player_data)):
    if max_age < player_data[i][2]:
        max_age = player_data[i][2]
        idx = i
print(player_data[idx][1])

B. Richardson

In [7]:
#Question 2: what is the name of the highest-paid player?
max_pay = 0
idx = 0
for i in range(len(player_data)):
    if max_pay < player_data[i][6]:
        max_pay = player_data[i][6]
        idx = i
print(player_data[idx][1])

Cristiano Ronaldo

In [8]:
#Question 3: what is the name of the highest net-worth player?
max_worth = 0
idx = 0
for i in range(len(player_data)):
    if max_worth < player_data[i][7]:
        max_worth = player_data[i][7]
        idx = i
print(player_data[idx][1])

Neymar

In [9]:
#Question 4: what club is that player in?
print(player_data[idx][4])

Paris Saint-Germain

In [10]:
#function
def get_column(col_idx):
    column = list()
    for i in range(len(player_data)):
        column.append(player_data[i][col_idx])
    return column

In [12]:
#Question 5: what are the first five nationalities listed in the dataset?
nation = get_column(3)
nation[0:5]

['Portugal', 'Argentina', 'Brazil', 'Uruguay', 'Germany']

In [14]:
name = get_column(1)
name
np.sort(name)

array(['A. Abbas', 'A. Abbas', 'A. Abdallah', ..., 'Óscar Pinchi',
       'Óscar Plano', 'Óscar Whalley'], dtype='<U22')

In [15]:
#Question 6: which five names are alphabetically first in the dataset?
name = get_column(1)
list(np.sort(name)[0:5])

['A. Abbas', 'A. Abbas', 'A. Abdallah', 'A. Abdennour', 'A. Abdi']

In [16]:
#Question 7: what is the average net worth?
networth = get_column(7)
np.mean(networth)

2407282.6149178543

In [17]:
#Question 8: what is the average age?
age = get_column(2)
np.mean(age)

25.133264640219817

In [18]:
#Define a function player_count that takes a parameter, country, 
#and counts the number of players belonging to that country. 
#This function will be useful for the questions that follow.
def player_count(country):
    count = 0
    for i in nation:
        if i == country:
            count+=1
    return count

In [19]:
#Question 9: how many players have Portugal as their nationality?
Portugal_player = player_count("Portugal")
Portugal_player

355

In [20]:
#Question 10: how many players have Brazil as their nationality?
Brazil_player = player_count("Brazil")
Brazil_player

800

In [21]:
#Question 11: which country has the most players participating in FIFA18?
nation_list = list()
for i in nation:
    if i not in nation_list:
        nation_list.append(i)
count_q11 = list()
for i in nation_list:
    count_q11.append(player_count(i))
nation_list[np.where(np.array(count_q11) == max(count_q11))[0][0]]

'England'

In [27]:
#Define a function player_to_dict that takes a parameter, player_id, 
#and returns a dict containing all the information about the player that matches. 
#Find the player row by matching player_id to the Id column in the data.
id_list = get_column(0)
def player_to_dict(player_id):
    Id = np.where(np.array(id_list) == str(player_id))[0][0]
    id_dict = {"Id": player_data[Id][0],
               'name': player_data[Id][1],
               'Age': player_data[Id][2],
               'nationality': player_data[Id][3],
               'club': player_data[Id][4],
               'league': player_data[Id][5],
               'euro_wage': player_data[Id][6],
               'networth': player_data[Id][7],
               'score_of_100': player_data[Id][8]}
    return id_dict

In [28]:
#Question 12: what are the stats for the player with Id equal to 20801?
player_to_dict(20801)

{'Id': '20801',
 'name': 'Cristiano Ronaldo',
 'Age': 32.0,
 'nationality': 'Portugal',
 'club': 'Real Madrid CF',
 'league': 'Spanish Primera División',
 'euro_wage': 565000.0,
 'networth': 95500000.0,
 'score_of_100': 94.0}

In [32]:
#Question 13: what are the stats for the player with Id equal to 190871?
player_to_dict(190871)

{'Id': '190871',
 'name': 'Neymar',
 'Age': 25.0,
 'nationality': 'Brazil',
 'club': 'Paris Saint-Germain',
 'league': 'French Ligue 1',
 'euro_wage': 280000.0,
 'networth': 123000000.0,
 'score_of_100': 92.0}

In [30]:
#Question 14: what are the stats for the player with Id equal to 158023?
player_to_dict(158023)

{'Id': '158023',
 'name': 'L. Messi',
 'Age': 30.0,
 'nationality': 'Argentina',
 'club': 'FC Barcelona',
 'league': 'Spanish Primera División',
 'euro_wage': 565000.0,
 'networth': 105000000.0,
 'score_of_100': 93.0}

In [34]:
#Question 15: what are the stats for the player with Id equal to 192985?
player_to_dict(192985)

{'Id': '192985',
 'name': 'K. De Bruyne',
 'Age': 26.0,
 'nationality': 'Belgium',
 'club': 'Manchester City',
 'league': 'English Premier League',
 'euro_wage': 285000.0,
 'networth': 83000000.0,
 'score_of_100': 89.0}

In [35]:
#Question 16: how many players are there per nationality?
nation_player_dict = {}
for i in range(len(nation_list)):
    nation_player_dict[nation_list[i]] = count_q11[i]
nation_player_dict

{'Portugal': 355,
 'Argentina': 948,
 'Brazil': 800,
 'Uruguay': 150,
 'Germany': 1132,
 'Poland': 332,
 'Spain': 995,
 'Belgium': 260,
 'Chile': 367,
 'Croatia': 107,
 'Wales': 122,
 'Italy': 792,
 'Slovenia': 62,
 'France': 962,
 'Gabon': 12,
 'Sweden': 366,
 'Netherlands': 425,
 'Denmark': 343,
 'Slovakia': 64,
 'England': 1582,
 'Colombia': 589,
 'Austria': 262,
 'Greece': 95,
 'Czech Republic': 63,
 'Costa Rica': 29,
 'Armenia': 14,
 'Bosnia Herzegovina': 55,
 'Ivory Coast': 94,
 'Senegal': 126,
 'Switzerland': 228,
 'Morocco': 77,
 'Guinea': 25,
 'Egypt': 20,
 'Algeria': 56,
 'Cameroon': 78,
 'Serbia': 132,
 'Japan': 469,
 'Turkey': 288,
 'Ecuador': 25,
 'Montenegro': 25,
 'Korea Republic': 316,
 'Kenya': 7,
 'Iceland': 52,
 'Mexico': 360,
 'Norway': 329,
 'DR Congo': 57,
 'Ukraine': 49,
 'Russia': 305,
 'Finland': 60,
 'Republic of Ireland': 408,
 'United States': 379,
 'Venezuela': 41,
 'Ghana': 113,
 'Uzbekistan': 5,
 'Nigeria': 126,
 'Canada': 49,
 'Paraguay': 60,
 'Romania': 49,
 'Albania': 35,
 'Burkina Faso': 14,
 'Cape Verde': 22,
 'New Zealand': 30,
 'Northern Ireland': 85,
 'Syria': 4,
 'Scotland': 291,
 'Bulgaria': 20,
 'Peru': 16,
 'Angola': 15,
 'Australia': 222,
 'South Africa': 62,
 'Jamaica': 37,
 'Tunisia': 31,
 'Mozambique': 3,
 'Iran': 17,
 'Mali': 46,
 'Cuba': 2,
 'Hungary': 24,
 'Belarus': 9,
 'Saudi Arabia': 321,
 'Israel': 12,
 'Benin': 14,
 'Georgia': 31,
 'Dominican Republic': 3,
 'Lithuania': 12,
 'Kosovo': 32,
 'Moldova': 6,
 'Togo': 8,
 'FYR Macedonia': 17,
 'Guinea Bissau': 15,
 'Honduras': 13,
 'Congo': 21,
 'Chad': 2,
 'Curacao': 11,
 'Sierra Leone': 9,
 'Gambia': 15,
 'Iraq': 8,
 'Trinidad & Tobago': 9,
 'Zimbabwe': 10,
 'Cyprus': 11,
 'Niger': 3,
 'Liechtenstein': 3,
 'Oman': 1,
 'Tanzania': 2,
 'Zambia': 7,
 'Libya': 2,
 'Haiti': 14,
 'Madagascar': 4,
 'Estonia': 8,
 'Guatemala': 1,
 'New Caledonia': 2,
 'Korea DPR': 6,
 'Bermuda': 4,
 'Comoros': 9,
 'Panama': 16,
 'Palestine': 4,
 'Latvia': 6,
 'Equatorial Guinea': 6,
 'Eritrea': 1,
 'Luxembourg': 8,
 'Kuwait': 2,
 'Suriname': 3,
 'Uganda': 4,
 'Mauritania': 2,
 'El Salvador': 2,
 'Central African Rep.': 4,
 'Azerbaijan': 7,
 'St Kitts Nevis': 3,
 'Fiji': 1,
 'Guam': 1,
 'Lebanon': 5,
 'Qatar': 6,
 'Philippines': 3,
 'China PR': 4,
 'Somalia': 1,
 'Kazakhstan': 3,
 'Bolivia': 2,
 'Montserrat': 4,
 'Ethiopia': 2,
 'Mauritius': 1,
 'Liberia': 2,
 'Puerto Rico': 2,
 'Namibia': 2,
 'Faroe Islands': 6,
 'Guyana': 5,
 'Thailand': 2,
 'Barbados': 1,
 'Antigua & Barbuda': 4,
 'Gibraltar': 2,
 'São Tomé & Príncipe': 1,
 'Grenada': 1,
 'Belize': 1,
 'Burundi': 1,
 'Turkmenistan': 1,
 'Swaziland': 1,
 'Malta': 3,
 'St Lucia': 1,
 'Sudan': 2,
 'Vietnam': 1,
 'Afghanistan': 3,
 'Sri Lanka': 1,
 'Kyrgyzstan': 1,
 'San Marino': 1,
 'Hong Kong': 1}

In [36]:
#Question 17: how many players are there per league?
league = get_column(5)
def player_count_league(league_name):
    count = 0
    for i in league:
        if i == league_name:
            count+=1
    return count
league_list = list()
for i in league:
    if i not in league_list:
        league_list.append(i)
count_league = list()
for i in league_list:
    count_league.append(player_count_league(i))
league_player_dict = {}
for i in range(len(league_list)):
    league_player_dict[league_list[i]] = count_league[i]
league_player_dict

{'Spanish Primera División': 582,
 'French Ligue 1': 589,
 'German Bundesliga': 523,
 'English Premier League': 634,
 'Italian Serie A': 554,
 'Turkish Süper Lig': 493,
 'Portuguese Primeira Liga': 503,
 'USA Major League Soccer': 624,
 'Russian Premier League': 447,
 'Ukrainian Premier League': 24,
 'Holland Eredivisie': 484,
 'Mexican Liga MX': 515,
 'Argentinian Superliga': 771,
 'Japanese J1 League': 518,
 'Belgian First Division A': 430,
 'Czech Liga': 27,
 'Saudi Professional League': 405,
 'Greek Super League': 109,
 'Swiss Super League': 257,
 'Colombian Primera A': 551,
 'English Championship': 706,
 'Spanish Segunda División': 624,
 'Chilian Primera División': 320,
 'Campeonato Brasileiro Série A': 320,
 'Swedish Allsvenskan': 385,
 'South African PSL': 51,
 'French Ligue 2': 535,
 'Scottish Premiership': 310,
 'Australian A-League': 226,
 'German 2. Bundesliga': 509,
 'Austrian Bundesliga': 255,
 'Polish Ekstraklasa': 414,
 'Italian Serie B': 618,
 'Korean K League Classic': 322,
 'Danish Superliga': 362,
 'Norwegian Eliteserien': 392,
 'English League One': 641,
 'German 3. Liga': 513,
 'English League Two': 615,
 'Finnish Veikkausliiga': 27,
 'Rep. Ireland Premier Division': 284}

In [37]:
#Question 18: what is the average player wage per league?
league_wage = {}
for i in range(len(league)):
    if player_data[i][5] not in league_wage.keys():
        league_wage[player_data[i][5]] = player_data[i][6]
    else:
        league_wage[player_data[i][5]] += player_data[i][6]
for i in league_wage.keys():
    league_wage[i] = league_wage[i]/league_player_dict[i]
league_wage

{'Spanish Primera División': 37104.810996563574,
 'French Ligue 1': 20843.803056027165,
 'German Bundesliga': 31177.820267686424,
 'English Premier League': 58705.047318611985,
 'Italian Serie A': 35981.94945848375,
 'Turkish Süper Lig': 16582.150101419877,
 'Portuguese Primeira Liga': 7570.576540755467,
 'USA Major League Soccer': 4052.8846153846152,
 'Russian Premier League': 19612.97539149888,
 'Ukrainian Premier League': 1000.0,
 'Holland Eredivisie': 6842.975206611571,
 'Mexican Liga MX': 14885.436893203883,
 'Argentinian Superliga': 6832.684824902723,
 'Japanese J1 League': 3030.8880308880307,
 'Belgian First Division A': 8953.488372093023,
 'Czech Liga': 1000.0,
 'Saudi Professional League': 8928.395061728395,
 'Greek Super League': 1000.0,
 'Swiss Super League': 6774.31906614786,
 'Colombian Primera A': 1916.5154264972778,
 'English Championship': 16702.54957507082,
 'Spanish Segunda División': 5915.0641025641025,
 'Chilian Primera División': 4800.0,
 'Campeonato Brasileiro Série A': 15515.625,
 'Swedish Allsvenskan': 2218.181818181818,
 'South African PSL': 1000.0,
 'French Ligue 2': 3330.841121495327,
 'Scottish Premiership': 7154.8387096774195,
 'Australian A-League': 3092.920353982301,
 'German 2. Bundesliga': 7766.2082514734775,
 'Austrian Bundesliga': 6054.901960784314,
 'Polish Ekstraklasa': 3190.8212560386473,
 'Italian Serie B': 3788.0258899676373,
 'Korean K League Classic': 3043.478260869565,
 'Danish Superliga': 5102.209944751381,
 'Norwegian Eliteserien': 1936.2244897959183,
 'English League One': 3663.0265210608422,
 'German 3. Liga': 1136.4522417153996,
 'English League Two': 3068.2926829268295,
 'Finnish Veikkausliiga': 1000.0,
 'Rep. Ireland Premier Division': 1049.2957746478874}

In [38]:
#Question 19: what is the average player age per league?
league_age = {}
for i in range(len(league)):
    if player_data[i][5] not in league_age.keys():
        league_age[player_data[i][5]] = player_data[i][2]
    else:
        league_age[player_data[i][5]] += player_data[i][2]
for i in league_age.keys():
    league_age[i] = league_age[i]/league_player_dict[i]
league_age

{'Spanish Primera División': 25.015463917525775,
 'French Ligue 1': 24.31239388794567,
 'German Bundesliga': 24.137667304015295,
 'English Premier League': 24.832807570977916,
 'Italian Serie A': 25.21119133574007,
 'Turkish Süper Lig': 26.4868154158215,
 'Portuguese Primeira Liga': 25.05765407554672,
 'USA Major League Soccer': 26.009615384615383,
 'Russian Premier League': 25.55704697986577,
 'Ukrainian Premier League': 25.958333333333332,
 'Holland Eredivisie': 23.264462809917354,
 'Mexican Liga MX': 25.833009708737865,
 'Argentinian Superliga': 25.325551232166017,
 'Japanese J1 League': 26.65057915057915,
 'Belgian First Division A': 24.05581395348837,
 'Czech Liga': 27.333333333333332,
 'Saudi Professional League': 25.760493827160495,
 'Greek Super League': 25.339449541284402,
 'Swiss Super League': 24.136186770428015,
 'Colombian Primera A': 25.76043557168784,
 'English Championship': 24.923512747875353,
 'Spanish Segunda División': 25.05128205128205,
 'Chilian Primera División': 28.975,
 'Campeonato Brasileiro Série A': 28.975,
 'Swedish Allsvenskan': 24.97142857142857,
 'South African PSL': 26.80392156862745,
 'French Ligue 2': 24.82429906542056,
 'Scottish Premiership': 24.625806451612902,
 'Australian A-League': 25.52654867256637,
 'German 2. Bundesliga': 24.557956777996072,
 'Austrian Bundesliga': 24.094117647058823,
 'Polish Ekstraklasa': 25.70048309178744,
 'Italian Serie B': 25.042071197411005,
 'Korean K League Classic': 26.267080745341616,
 'Danish Superliga': 24.26795580110497,
 'Norwegian Eliteserien': 24.252551020408163,
 'English League One': 24.279251170046802,
 'German 3. Liga': 24.142300194931774,
 'English League Two': 24.357723577235774,
 'Finnish Veikkausliiga': 23.59259259259259,
 'Rep. Ireland Premier Division': 24.010563380281692}

In [39]:
#Question 20: which league has the highest average age?
max_perage = 0
max_perage_league = ""
for i in league_age:
    if league_age[i] > max_perage:
        max_perage = league_age[i]
        max_perage_league = i
max_perage_league

'Chilian Primera División'